body { 
    background-image: url('../assets/images/background-top.png');
    background-size: contain;    
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000000;
}

shadow {
    filter: drop-shadow(0 0 0.75rem crimson);
}

a:hover {
  color: rgb(153, 255, 85);
}

.title {
    padding-top: 20rem;
}

/* .middle {
  margin: 0 28rem 0;
  min-width: 30%;
  max-width: 90%;
} */

@font-face {
    font-family: 'akira';
    src: url('../assets/fonts/akira.otf');
  }

@font-face {
    font-family: 'space-mono-bold';
    src: url('../assets/fonts/space-mono-bold.ttf');
  }

@font-face {
    font-family: 'space-mono-regular';
    src: url('../assets/fonts/space-mono-regular.ttf')
  }

.akira {
    font-family: 'akira';
}

.space-mono-bold {
  font-family: 'space-mono-bold', serif;
  font-weight: 600;
  font-style: normal;
}

.space-mono-regular {
  font-family: 'space-mono-regular', serif;
  font-weight: 400;
  font-style: normal;
}